<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, 1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원로그인</title>
</head>
<body>
    <h1 th:text="'로그인 페이지입니다'">login page</h1>
    <hr>
    <form th:action="@{/loginProc}" method="post" name="loginForm">
        <input id="username" type="text" name="username" placeholder="id"/><br>
        <input id="password" type="password" name="password" placeholder="password"/><br>
        <input type="submit" value="login"/>
    </form>
    <a th:href="@{/oauth2/authorization/google}">google login</a><br>
    <a th:href="@{/oauth2/authorization/naver}">naver login</a><br>
    <a th:href="@{/oauth2/authorization/kakao}">kakao login</a><br>
    <a th:href="@{/oauth2/authorization/facebook}">facebook login</a><br>
</body>
</html>
